{% extends 'base.html' %}
{% block content %}
<h1>{{ salon.salon_name }}</h1>
<p>{{ salon.description }}</p>
<p>Posted by {{ salon.user.username }} on {{ salon.created_at }}</p>
{% if salon.user == user %}
<p><a href="{% url 'salon_update' pk=salon.id %}">Edit salon</a></p>
<p><a href="{% url 'salon_delete' pk=salon.id %}">Delete salon</a></p>
{% endif %}
{% if reviews.count > 0 %}
<h3>{{ reviews.count }} Review{{ reviews.count|pluralize }}:</h3>
{% endif %}
{% for review in reviews %}
<div class="panel">
  <p>{{ review.salon_name }}</p>
  {% if review.user == user %}
  <p><a href="{% url 'review_update' salon_pk=salon.id review_pk=review.id %}">Edit review</a></p>
  {% endif %}
  <p> Reviewed by {{ review.user.username }} on {{ review.created_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'review_create' pk=salon.id %}">Write review</a></p>
{% endblock %}